@tailwind base;

html {
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
}

main > div > * {
  padding-top: 80px;
  margin-left: -99rem;
  margin-right: -99rem;
  padding-left: 99rem;
  padding-right: 99rem;
}

@tailwind components;

@tailwind utilities;
